<div class="bg-wrapper">
<div class="d-flex p-5">

  <div class="contact-button d-none d-md-block ml-auto">
    <a href="mailto:veracaglayan@hotmail.com?subject=Merhaba" >
      <div class="btn btn-secondary">
        Merhaba de!
      </div>
      </a>
  </div>
</div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <div class="identity d-flex">

          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 text-center">
                <div class="photo">
                  <img class="rounded-circle" src="../images/vera.png" alt="Vera Çağlayan photo" >
                </div>
              </div>
              <div class="col-md-6 card-body text-center text-md-left d-flex flex-column align-items-left justify-content-center">
                <h2 class="personal-title font-two"> Uzman Klinik Psikolog </h2>
                <h2 class="name font-two">Vera Çağlayan</h2>
                <div class="contact-button d-block d-md-none">
                  <a href="mailto:veracaglayan@hotmail.com?subject=Merhaba" >
                    <div class="btn btn-secondary">
                      Merhaba de!
                    </div>
                    </a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="details">
          <div class="information">
            <h3>Site Hakkında</h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, ea voluptas at nobis velit illum id, ratione excepturi officia enim illo incidunt harum reprehenderit minus corrupti optio accusamus dolorum. Asperiores!Repudiandae mollitia iste maiores eveniet delectus? Eum expedita eos, qui, maxime reiciendis voluptate saepe illo libero recusandae reprehenderit fugiat molestias enim incidunt impedit. Deserunt doloremque amet officiis consequuntur ipsum dolorum.</p>
            <h3>Benim Hakkımda</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perferendis unde dolorem neque voluptates quaerat accusantium, facilis in, nobis maiores aperiam quasi sint praesentium veritatis nulla ab. Illum, consequatur assumenda.</p>
          </div>
          <div class="article-media">
            <h3>Yazılarım</h3>
            <div class="media article-links my-3 rounded container-fluid" href="./view/articles/article1.html">
              <div class="row">
                <div class="col-12 col-md-3 text-center d-flex justify-content-center align-items-center">
                  <img class="align-self-center mr-3 rounded-circle" src="../images/article1-1.png" alt="Generic placeholder image">
                </div>
                <div class="col-12 col-md-9 media-body">
                  <h5 class="mt-0">
                    Özdeğer
                </h5>
                <p>Kendimizle olan ilişkimizin birçok boyutu var. Özdeğer, özgüven, özkontrol, özsaygı gibi terimleri günlük hayatımızda da sıklıkla duyuyor ve konuşuyoruz.</p>
                </div>
              </div>
            </div>
            <div class="media article-links my-3 rounded container-fluid" href="./view/articles/article2.html">
              <div class="row">
                <div class="col-12 col-md-3 text-center d-flex align-items-center justify-content-center">
                  <img class="align-self-center mr-3 rounded" src="../images/article2-1.png" alt="Generic placeholder image">
                </div>
                <div class="col-12 col-md-9 media-body">
                  <h5 class="mt-0">
                    Motivasyon
                </h5>
                <p>Kendimizle olan ilişkimizin birçok boyutu var. Özdeğer, özgüven, özkontrol, özsaygı gibi terimleri günlük hayatımızda da sıklıkla duyuyor ve konuşuyoruz.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2 p-3">

      </div>
    </div>
  </div>
</div>
